<div id="landing-title" class="row">
    <div class="col-12">
        <div class="shadow-box">
            <h2>Community Works</h2>
            <h1>Together</h1>
            <button class="btn btn-outline-primary btn-lg landing-button">Sign Up</button>
            <button class="btn btn-outline-primary btn-lg landing-button">Log In</button>
        </div>
    </div>
</div>
