@import "bootstrap";

#landing-title {
    text-align: center;
    color: #ececec;
    background: url(landing-page.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

#landing-title h2 {
    padding-top: 10%;
    font-size: 40px;
}

#landing-title h1 {
    font-size: 140px;
}

.landing-button {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.shadow-box {
    text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 100vh;
    margin: auto;
    margin-top: 20vh;
    border-radius: 25px;
}